trigger:
  branches:
    include:
      - main
      - develop
      - 'release/*'
      - 'hotfix/*'
      - 'feature/*'
  tags:
    include: [] # not sure, if that's the default...

pool:
  vmImage: 'windows-latest'

steps:
- task: Cache@2
  inputs:
    key: '"$(Agent.OS)" | recipe.cake | .config/dotnet-tools.json'
    path: 'tools'
- task: Cake@2
  inputs:
    script: 'recipe.cake'
    target: 'CI'
    verbosity: 'Diagnostic'
    Bootstrap: true
    Version: '0.38.4'
