<li class="nav-item small">
    <a href="https://github.com/cake-contrib/Cake.7zip" target="_blank" class="nav-link">
        <i class="fab fa-github"></i> GitHub
    </a>
</li>
<li class="nav-item small">
    <a href="https://github.com/cake-build/cake/discussions" target="_blank" class="nav-link">
        <i class="far fa-comments"></i> Discussions
    </a>
</li>