<a class="github-button" href="https://github.com/cake-contrib/Cake.7zip" target="_blank">
    <i class="fa fa-github"></i>
    GitHub
</a>
<a class="discussion-button" href="https://github.com/cake-build/cake/discussions" target="_blank">
    <i class="fa fa-github"></i>
    Discussion
</a>
