---
Title: Cake.7zip
NoSidebar: true
NoContainer: false
NoGutter: true
---
<script>
if(!document.location.href.endsWith("/")){
  document.location.href = document.location.href + "/"; // or else the relative hyperlinks won't work...
}
</script>
<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.7zip is an Addin for <a href="http://cakebuild.net/">Cake</a> to use <a href="https://www.7-zip.org/">7Zip</a>.
    </p>
</div>
<div class="container">
	<h1>Usage</h1>
  <div>
  <h2>Usage in Cake</H2>
    <p>
        Have a look at <a href="api/Cake.SevenZip/SevenZipAliases/">SevenZipAliases</a> on how to integrate with <a href="http://cakebuild.net/">Cake</a>. There are also some examples there.
    </p>
  </div>
  <div>
  <h2>Available Commands</H2>
    <p>
        All available Commands are listed at the <a href="api/Cake.SevenZip/ICommand/">ICommand</a>-Interface.
    </p>
  </div>
  <div>
  <h2>Available Switches</H2>
    <p>
        All available Switches are listed at the <a href="api/Cake.SevenZip/ISupportSwitch/">ISupportSwitch</a>-Interface. However, not all commands support every switch.
    </p>
  </div>
</div>
